# Folio environment

# Optional: WalletConnect Cloud project id
# https://cloud.walletconnect.com/
NEXT_PUBLIC_WC_PROJECT_ID=

# FolioIP ERC-721 deployed on Base / Base Sepolia
NEXT_PUBLIC_FOLIO_IP_ADDRESS=
